In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
medi = pd.read_csv('C:\\Users\\202-22\\Documents\\Python - Hyesu\\Project\\Medical\\medical_2014.csv', engine='python')
medi.head()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석유무,데이터 기준일자
0,2014,1,1,6,42,180,75,79,1.5,1.2,...,1.2,31,18,23,3.0,0.0,1,0.0,0.0,20161220
1,2014,2,2,18,41,150,65,79,0.1,0.1,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,20161220
2,2014,3,1,12,41,170,70,95,0.8,1.0,...,0.6,138,73,112,3.0,1.0,1,0.0,1.0,20161220
3,2014,4,2,11,41,165,80,104,0.8,0.2,...,0.9,19,14,21,1.0,0.0,1,0.0,1.0,20161220
4,2014,5,1,6,44,175,75,81,1.5,1.5,...,1.0,32,39,98,1.0,1.0,1,NaN,1.0,20161220

In [3]:
medi.shape

(1000000, 31)

In [4]:
medi.columns

Index(['기준년도', '가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석유무', '데이터 기준일자'],
      dtype='object')

In [5]:
medi1 = medi.rename(index=str, columns={'기준년도': 'year', '가입자일련번호': 'member_id', '성별코드': 'sex', 
                               '연령대코드(5세단위)': 'age_group', '시도코드': 'city_code', 
                               '신장(5Cm단위)': 'height', '체중(5Kg 단위)': 'weight', '허리둘레':'waist',
                               '시력(좌)': 'sight_left', '시력(우)': 'sight_right', '청력(좌)': 'hear_left', '청력(우)':'hear_right',
                               '수축기혈압':'bp_high', '이완기혈압': 'bp_low', '식전혈당(공복혈당)': 'blds',
                               '총콜레스테롤':'total_chole', '트리글리세라이드':'triglyceride', 'HDL콜레스테롤':'hdl_chole',
                               'LDL콜레스테롤':'ldl_chole', '혈색소':'hmg', '요단백':'olig_pr', 
                               '혈청크레아티닌':'creatinine', '(혈청지오티)AST':'sgot_ast', '(혈청지오티)ALT':'sgpt_alt',
                               '감마지티피':'gamma_gtp', '흡연상태':'smoke', '음주여부':'drink_yn', 
                               '구강검진 수검여부':'dent_exam_yn', '치아우식증유무':'crs_yn', '치석유무':'ttr_yn', '데이터 기준일자':'data_date'})

medi1.head(n=10)

,year,member_id,sex,age_group,city_code,height,weight,waist,sight_left,sight_right,...,creatinine,sgot_ast,sgpt_alt,gamma_gtp,smoke,drink_yn,dent_exam_yn,crs_yn,ttr_yn,data_date
0,2014,1,1,6,42,180,75,79,1.5,1.2,...,1.2,31,18,23,3.0,0.0,1,0.0,0.0,20161220
1,2014,2,2,18,41,150,65,79,0.1,0.1,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,20161220
2,2014,3,1,12,41,170,70,95,0.8,1.0,...,0.6,138,73,112,3.0,1.0,1,0.0,1.0,20161220
3,2014,4,2,11,41,165,80,104,0.8,0.2,...,0.9,19,14,21,1.0,0.0,1,0.0,1.0,20161220
4,2014,5,1,6,44,175,75,81,1.5,1.5,...,1.0,32,39,98,1.0,1.0,1,NaN,1.0,20161220
5,2014,6,2,11,47,155,60,88,0.6,0.8,...,0.7,25,27,27,3.0,0.0,0,NaN,NaN,20161220
6,2014,7,1,11,45,165,50,66,0.8,0.9,...,1.0,21,8,55,3.0,0.0,0,NaN,NaN,20161220
7,2014,8,2,11,41,145,55,93,0.9,0.9,...,1.2,34,16,175,1.0,1.0,0,NaN,NaN,20161220
8,2014,9,2,18,41,140,35,78,0.2,0.1,...,0.5,30,10,10,1.0,1.0,0,NaN,NaN,20161220
9,2014,10,1,7,26,175,80,90,0.6,0.4,...,0.7,25,21,18,1.0,0.0,0,NaN,NaN,20161220

In [ ]:
medi1.describe()

,year,member_id,sex,age_group,city_code,height,weight,waist,sight_left,sight_right,...,creatinine,sgot_ast,sgpt_alt,gamma_gtp,smoke,drink_yn,dent_exam_yn,crs_yn,ttr_yn,data_date
count,1000000.0,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,999838.000000,999840.000000,...,1000000.000000,1000000.000000,1000000.000000,1000000.000000,999618.000000,999016.000000,1000000.000000,110048.0,382722.000000,1000000.0
mean,2014.0,500000.500000,1.457211,10.337172,33.627936,166.307190,66.610625,80.516598,0.984893,0.981145,...,0.886300,25.400075,25.071998,36.413858,1.635798,0.502629,0.405838,0.0,0.533575,20161220.0
std,0.0,288675.278933,0.498166,2.819087,12.721441,9.335261,12.181895,9.329093,0.631128,0.622700,...,0.665678,15.863441,20.954440,49.121305,0.838917,0.499993,0.491054,0.0,0.498872,0.0
min,2014.0,1.000000,1.000000,5.000000,11.000000,130.000000,30.000000,51.000000,0.100000,0.100000,...,0.100000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,20161220.0
25%,2014.0,250000.750000,1.000000,8.000000,26.000000,160.000000,60.000000,74.000000,0.700000,0.700000,...,0.700000,19.000000,14.000000,15.000000,1.000000,0.000000,0.000000,0.0,0.000000,20161220.0
50%,2014.0,500000.500000,1.000000,10.000000,41.000000,165.000000,65.000000,81.000000,1.000000,1.000000,...,0.900000,22.000000,20.000000,23.000000,1.000000,1.000000,0.000000,0.0,1.000000,20161220.0
75%,2014.0,750000.250000,2.000000,12.000000,44.000000,175.000000,75.000000,87.000000,1.200000,1.200000,...,1.000000,28.000000,29.000000,39.000000,2.000000,1.000000,1.000000,0.0,1.000000,20161220.0
max,2014.0,1000000.000000,2.000000,18.000000,49.000000,195.000000,140.000000,129.000000,9.900000,9.900000,...,98.000000,999.000000,999.000000,999.000000,3.000000,1.000000,1.000000,0.0,1.000000,20161220.0

In [ ]:
plt.plot(medi1['age_group'])

In [ ]:
medi2 = medi1[2:8, 12:28]
head(medi2)